@tailwind base;
@tailwind components;
@tailwind utilities;


/* Default Light Mode */
body {
  background-color: white;
  color: black;
}

/* Dark Mode */
body.dark {
  background-color: #121212;
  color: white;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite;
  width: calc(2 * 100%); /* The width should be twice the container size to accommodate both sets */
}

/* Faster scrolling for mobile screens */
@media (max-width: 768px) {
  .animate-marquee {
    animation-duration: 5s; /* Faster speed for mobile */
  }
}

